.badge {

    background-image: url('/img/video-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.9);

        &__title {
            margin-top: 2rem;
            text-align: center;
            font-size: 3rem;
            font-family: 'KnockoutRegular';

            h4{
                font-size: 2rem;
                margin-top: 1rem;
                color: red;
                font-weight: bold;
            }
        }

        &__form {
          
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: black;
            padding: 4rem;


            button{
                padding: 1rem 2rem;
                font-size: 1rem;
                font-family: 'Inter';
                font-weight: bold;
                background-color: var(--brand-banana);
                border: none;
                border-radius: 4%;
                cursor: pointer;
                display: block;

                &:hover{
                    opacity: 0.7;
                    box-shadow: 1px 1px 1px var(--black);
                    display: block;
                }

            }

            &__grid {

                display: grid;
                grid-template-columns: 1fr 1fr;

                &__container {
                    padding: 2rem 4rem;
                    display: flex;
                    flex-direction: column;

                    label {
                        color: black;
                        display: -webkit-box;
                        font-family: 'Inter';
                    }

                    input {
                        margin-top: 0.5rem;
                        font-size: 1rem;
                        border-radius: 3%;
                        padding: 1rem 1rem;
                        font-family: 'Inter';
                    }

                    select {
                        margin-top: 0.5rem;
                        font-size: 1rem;
                        border-radius: 3%;
                        padding: 1rem 1rem;
                        font-family: 'Inter';
                    }

                    p{
                        margin-top: 0.5rem;
                        color: red;
                    }
                }
            }
        }
    }
}

@media (max-width:786px) {
    .badge{
        &__content{
            &__title{
                font-size: 2rem;
            }
            &__form{
                &__grid{
                    grid-template-columns: 1fr;

                    &__container {
                        padding: 2rem 3rem;
                        display: flex;
                        flex-direction: column;
                    }

                    
                    input {
                        margin-top: 0.5rem;
                        font-size: 0.875rem;
                        border-radius: 3%;
                        padding: 0.5rem 0.5rem;
                    }

                    label{
                        font-size: 0.875rem;
                    }

                    select {
                        margin-top: 0.5rem;
                        font-size: 0.875rem;
                        border-radius: 3%;
                        padding: 0.5rem 0.5rem;
                    }
                }
            }
        }
    }
}