.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 15%;
    padding: 2rem 1rem;
    background: var(--brand-banana);
    position: fixed;
    z-index: 10;
    transition: max-heigth 0.5s ease-in;

    &__scroll {
        max-height: 10%;
        transition: max-heigth 0.25s ease-out;
    }

    &__logo {
        width: 30%;

        img {
            width: 50%;
            height: 50%;
            cursor: pointer;
        }
    }

    &__menu {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.875rem;
        color: var(--white);

        &__dropdown {
            position: relative;
            display: inline-block;
            color: black;
           


            &__content {
                margin-left: -1rem;
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;

                a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        background-color: #f1f1f1
                    }
                }
            }

            
            &:hover &__content {
                text-shadow: 1px 1px 1px var(--white);
                display: block;

            }
        }

        li {
            list-style: none;
            // background-color: #fbe4a7;
            padding: 1rem 1rem;

            a {
                text-decoration: none;
                font-size: 1rem;
                color: var(--gray-900);
                display: block;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.05);
                text-shadow: 1px 1px 1px var(--white);
                display: block;
            }

        }

    }


}

.mobile {
    display: none;
    justify-content: flex-start;
    width: 100%;

    &__button {
        display: none;
        background: transparent;
        border: none;
        height: 2rem;
    }

    &__logo {
        display: none;
        width: 30%;

        img {
            width: 80%;
            cursor: pointer;
        }
    }

    &__menu {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: var(--white);
        z-index: 10;



        &__container {

            width: 60%;
            height: 100%;

            &__list {

                list-style: none;
                background: rgba(0, 0, 0, 0.7);
                background-position: center;
                height: 100%;

                li {
                    padding: 1rem 1rem;
                    border-bottom: 1px solid var(--gray-100);

                    a {
                        text-decoration: none;
                        color: var(--yellow-700);
                        font-weight: bold;
                        padding: 0 1rem;
                        font-family: 'Inter';
                    }
                }
            }
        }

    }
}

@media (max-width:"768px") {
    .header {
        justify-content: flex-start;
        align-items: center;

        &__menu {
            display: none;
        }

        &__logo {
            display: none;
        }
    }

    .mobile {
        display: block;

        &__button {
            display: block;
        }

        &__logo {
            display: block;
        }
    }
}